html {
    background-color: lemonchiffon;
}

p {
    font-size: 20px;
}

li {
    font-size: 17px;
}

h1 {
    padding-top: 10%;
    font-weight: bold;
    text-decoration: underline;
}

h2 {
    padding-top: 3%;
}

@keyframes blink {
    from { opacity: 1.0; }
    25% { opacity: 0.5; }
    50% { opacity: 0.0;}
    75% { opacity: 0.5;}
    to { opacity: 1.0;}
  }
  .blink {
    animation: blink 1.2s infinite;
  }