<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="shortcut icon" href="#">
        <title>Welcome to My Web</title>
    </head>

    <body>
        <div class="container">
            <header>
                <h1 class="text-center">My Demo App</h1>
                <nav class="navbar">
                    <div class="container-fluid text-center">
                        <div class="navbar-header">
                            <!-- not implemented -->
                        </div>
                        <div class="navbar-collapse">
                            {% block header_navbar_ul %}
                                
                            {% endblock header_navbar_ul %}
                        </div>
                    </div>
                </nav>
            </header>
        </div>

        <div class="main-panel container">
            {% block main %}
                <h1>This is only shows on structure.html</h1>


            {% endblock main %}
        </div>
    </body>
</html>