<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1080113950590-vbrvsg4ohu4tk0hktfad3makk64dhgd6.apps.googleusercontent.com">
  </head>
  <body>
    <div data-theme="dark", id="sign-in"></div>
    <script>
      function onSuccess(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:5000/login/callback");
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onload = function() {
          console.log("ID: " + profile.getId()); // Don't send this directly to your server!
          console.log('Full Name: ' + profile.getName());
          console.log('Given Name: ' + profile.getGivenName());
          console.log('Family Name: ' + profile.getFamilyName());
          console.log("Image URL: " + profile.getImageUrl());
          console.log("Email: " + profile.getEmail());
        };
        var data = {
          id_token: id_token
        };
        xhr.send(JSON.stringify(data));
      }

      function onFailure(error) {
        console.log(error)
      }

      function renderButton() {
        gapi.signin2.render("sign-in", {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>
  </body>
</html>